/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font);
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-block-size: 668px;
  position: relative;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  color: var(--accent-header-color);
  text-transform: lowercase;
}

.header__subtitle {
  font-weight: bold;
  line-height: 130%;
  inline-size: max(50%, 355px);
  justify-self: end;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--accent-title-color);
  background: none;
  border: none;
  padding: 0 13px;
  block-size: 26px;
  line-height: 1;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid currentColor;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__label {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
}

.header__label::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  background-color: #FF0070;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
  top: 30%;
  left: 42px;
}

.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-title-color);
  border-inline-end: 1px solid var(--accent-title-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-title-color);
  border-inline-start: 1px solid var(--accent-title-color);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.main_container {
  padding: 0 10px;
  margin: 40px auto 0;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
  line-height: 130%;
  max-inline-size: 1024px;
}

.section__title {
  color: var(--accent-title-color);
  font-size: inherit;
}


.title__content_block {
  font-size: inherit;
}

.content_block .title__content_block {
  margin-block-end: 10px;
}

.why_content__section {
  display: grid;
  grid-template-columns: minmax(236px, 315px) minmax(472px, 649px);
  gap: 20px;
}

.why_content__title {
  grid-row: span 2;
}

.what_content__section {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 20px;
}

.what_content__title {
  grid-column: span 3;
}

.how_content__section {
  display: grid;
  grid-template-columns: minmax(236px, 315px) minmax(472px, 649px);
  gap: 20px;
}

.how_content__title {
  grid-row: span 2;
}

.list__content_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title_item__content_block {
  font-weight: normal;
  margin-block-end: 10px;
}

.galery__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.galery__blocks {
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 315px));
  grid-auto-flow: row;
  gap: 20px;
}

.image__block {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.image--1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.image--2 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
}

.image--3 {
  grid-row-start: 2;
  grid-row-end: 4;
}

.image--5 {
  grid-column-start: 2;
  grid-column-end: 4;
}


.footer {
  margin-block-start: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 668px;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  color: var(--accent-header-color);
  text-transform: lowercase;
  text-align: center;
}

.link__content_block {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link__content_block:hover {
  border-block-end: 1px solid currentColor;
}

.link__content_block:focus-visible {
  outline: 1px solid currentColor;
}








@media (width < 768px) {
  .header {
    min-block-size: 668px;
  }

  .footer {
    min-block-size: 668px;
  }

  .why_content__section {
    display: flex;
    flex-direction: column;
  }

  .how_content__section {
    display: flex;
    flex-direction: column;
  }

  .what_content__section {
    display: flex;
    flex-direction: column;
  }

  .galery__section {
    gap: 10px;
  }

  .galery__blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (768px <=width < 1024px) {
  .header {
    min-block-size: 1024px;
    padding: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: relative;
    left: -20px;
  }

  .footer {
    min-block-size: 1024px;
    padding: 20px;
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__label {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main_container {
    padding: 0 20px;
    margin-block-start: 60px;
    gap: 80px;
  }

  .what_content__section {
    display: flex;
    flex-direction: column;
  }

  .what_content__title {
    inline-size: min-content;
  }
}

@media (width >=1024px) {
  .header {
    min-block-size: 768px;
    padding: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-self: center;
  }

  .footer {
    min-block-size: 768px;
    padding: 20px;
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: relative;
    left: -20px;
  }

  .header__label {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main_container {
    padding: 0 20px;
    margin-block-start: 60px;
    gap: 80px;
  }

  .what_content__title {
    inline-size: 315px;
  }
}